# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models
*.pt
*.pth

# Uploaded Files
uploaded_images/*
uploaded_videos/*